body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/sunset.jpeg");
    background-size: cover;
    color:blanchedalmond;
    
}


div{
    padding: 10px;
}
.container {
    border:rgba(243, 244, 247, 0.87) 3px;

}


.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: space-between;
    font-family: 'Open Sans Condensed', sans-serif;

}

.main {
    font-family: 'Open Sans Condensed', sans-serif;

}

a{
    color:blanchedalmond;
    font-size: x-large;
}

h2 {
    display: stretch;
    text-align: center;
    justify-content: center;
    border: 5px solid rgba(239, 240, 247, 0.884);
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;

}

p{
    font-size: x-large;
}
img {
    height: 500pxpx;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}