body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://lh3.googleusercontent.com/dGQJF2-SadjPlv638LSwla82QtJqqY1vB5MFbxa3J7pAYGNI-dxPmbvlLH8pwzsD1CTalmG5-P3AbLt6Cy_A6RuYobpTnuMbJ3pEEC8xLkBHjRoFdL7mmRZ7HLWsGVhPNyQN-ZOP23FhTBxCvGA1bVNGk_MIwauAzZPpunUtFI0sZOea7cbfFC6d_WSljXuNyslmUZHgQ-vvTuvCWmMV4WMuItkgQ4_HCRJLgST2nSIwL6QySLvwxndTGpWRW4xPLsY1rmMPmwYvZTpmEN8rDZnzrZjrVIGtsX3VzUPxO7Tqr-FP8a3V6yF265whHvuSJsYoz2My7ZZYmcaNkAaB0OkebuTqVVQMyJHKR32ly0m2YvPEWid7qPqW6FyaSHKE7sj0rPfiwmU6z6beozHHZCgbID0tT8ubQHbHCUK-OjDPM4uUZacwiCGPnRKvFdGx-sr6frVkAC3x_uRkfpDEsXC9FcaPzc1g7oFpvBGgUdlUaN9pwyA5P2XDR3SfuOhZ5QqlGhvUICWk8H4sftrnQ197YHOVhtcPxuRW1OWuMXCTu5MUcGOG-kQ11Z70uWDkg9_tw7lotoby3QO_g3z8xoAusvuuzfCSf-LRggEjq6Njv-D5T_rRe3jdZzqTb8vEtMvXlO2bi4Ef4g-Fy-feoaoedcXlQWGBhRyi9CHGWSPmbmogRJObYoHQW7JBFFwXL4BxzXlmiHyIaK0XHRUdDvxr=w2190-h1642-no?authuser=0);
    background-size: cover;
    color:blanchedalmond;
    
}


div{
    padding: 10px;
}
.container {
    border:rgba(243, 244, 247, 0.87) 3px;

}


.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: space-between;
    font-family: 'Open Sans Condensed', sans-serif;

}

.main {
    font-family: 'Open Sans Condensed', sans-serif;

}

a{
    color:blanchedalmond;
    font-size: x-large;
}

h2 {
    display: stretch;
    text-align: center;
    justify-content: center;
    border: 5px solid rgba(239, 240, 247, 0.884);
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;

}

p{
    font-size: x-large;
}
img {
    height: 500px;px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}